language: cpp
install: |
  sudo add-apt-repository -y "deb http://archive.ubuntu.com/ubuntu/ precise main universe"

  # Dependencies packages
  sudo apt-get install -y \
     libboost-all-dev libboost-dev libboost-dbg libboost1.48-dev \
     libevent-dev libevent-dbg \
     zlib1g-dev zlib1g-dbg

  # Google Test
  curl -O https://googletest.googlecode.com/files/gtest-1.6.0.zip
  unzip gtest-1.6.0.zip
  cd gtest-1.6.0
  ./configure --prefix=/usr && make -j && sudo cp -a include/gtest /usr/include && sudo cp -a lib/.libs/* /usr/lib/ && sudo ldconfig
  cd ..

script: find / -name "locale.hpp" 2>/dev/null ; cmake ./ && cmake --build . && make test

